.allsounds-header {
  border-bottom: 1px solid #ccc !important;
  border-right: 1px solid #e5e0e0 !important;
  border-left: 1px solid #e5e0e0 !important;
}
.allsounds-listGroup {
  border-radius: 0px;
  height: calc(100vh - 200px);
  overflow-y: auto;
}
