.textField {
  width: 100%;
}
.stack {
  padding-left: 10px;
}
.scriptbody {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  // background: #3c4b64;
}
.scriptbody textarea {
  color: rgb(64 68 72);
}

.scripteditorcard {
  margin-bottom: 0px !important;
}
