// Here you can add other styles
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1600px;
  }
}

.list-group-item.active {
  z-index: 2;
  background-color: #a6e9fd;
  border-color: #cccbd9;
  color: var(--cui-list-group-color);
}

.control-title {
  border-right: 1px solid #e5e0e0 !important;
  border-left: 1px solid #e5e0e0 !important;
  padding: 0px 0px 0px 19px;
  min-height: 0px;
  width: 100%;
  background: #fdbaba;
  display: inline-block;
  border-bottom: 0px !important;
}

.constrol-header {
  border-bottom: 1px solid #ccc !important;
  border-right: 1px solid #e5e0e0 !important;
  border-left: 1px solid #e5e0e0 !important;
}

.control-listGroup {
  border-radius: 0px;
  height: calc(100vh - 200px);
  overflow-y: auto;
}
.control-listGroup-short {
  border-radius: 0px;
  height: calc(100vh - 505px);
  overflow-y: auto;
}

.allitemsmodal-listGroup {
  border-radius: 0px;
  height: calc(100vh - 225px);
  overflow-y: auto;
}
.allitemsmodal-listbutton {
  padding: 5px 25px;
}
